

.ProContain{
    display: flex;
    /* border: 1px solid red; */
   
    
}
.items{
    margin: 5px;
}

.butpro{
    height: 40px;
  
    background-color: #f5c538;
    width: 10rem;
    border: none;
    border-radius: 5px;
    color: white;
    
}

.svgclass{
    padding-left: 10px;
    color: black;
    size: 10rem;
}